#div1 {
    background-color: aquamarine;
}
#imageDiv{
    height: 50000px;
    background-image: url(https://img.freepik.com/premium-photo/scenic-view-lake-landscape-against-mountains-jetty_628924-4176.jpg);
}