div{
    height: 200px;
    width: 200px;
}
div > img{
    height: 100%;
    width: 100%;
}
#div1{
    position: relative;
    z-index: 1;
}
#div2{
    position: relative;
    top: -50px; /*intentionally overlapped*/
    z-index: 0; /*means it will appear below div 1 (as 0 < 1)*/
}
#div3{
    position: relative;
   top: -100px; /*intentionally overlapped*/
   z-index: 1; /*means it will appear above div 2 (as 1 > 0)*/
}